<!DOCTYPE html>
{% load static %}

<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="{% static 'js/play.js' %}"></script> -->
  <head>
    <title>Play Page</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p|Noto+Serif+JP&amp;subset=japanese" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/play.css' %}">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&amp;subset=japanese" rel="stylesheet">
  </head>

    <header>
<!-- <section>
    <label for="toggle-1" class="toggle-menu"></label>
    <input type="checkbox" id="toggle-1"> -->

  <nav>
    <ul>
    <li><a href="{% url 'home' %}"><i class="icon-home"></i>Home</a></li>
    <li><a href="{% url 'about' %}"><i class="icon-user"></i>About</a></li>
    <li><a href="{% url 'select' %}"><i class="icon-thumbs-up-alt"></i>Verb Conjugation Game</a></li>
    <li><a href="#services"><i class="icon-gear"></i>Adjective Game</a></li>
    <li><a href="#gallery"><i class="icon-picture"></i>Useful Resources</a></li>
    <li><a href="#contact"><i class="icon-phone"></i>Contact</a></li>
    </ul>
  </nav>
<!-- </section> -->
</header>

  <body>
    <div class="banner">
    </div>
    <div id="content-box">
    <div id="left">
      <img id="logo" src="../static/resources/logo.png">
  </div>
    <div id='main'>
      <div id='verb-box'>
      {% autoescape off %}
      <h2 id="verb"><ruby>{{verb}}</ruby></h2>
      {% endautoescape %}
      <h4 id="translation"><i>{{translation}}</i></h4>
      <hr>
    </div>
      <div id='prompt'>
        Use the <b>{{construction}}</b> {{polarity}} {{tense}}<b> {{formality}} {{form}}</b>
 conjugation.
        <br>
        {% autoescape off %}
        {% endautoescape %}
        <br><br>
      </div>

      <div id="answer">
      <form id="user-attempt" method="post" action='' autocomplete='off'>
        <div class="field">
          <input type="text" id="attempt" name="attempt" autofocus required>
          <button class='btn' type="submit" id="submit-attempt">チェックする!</button>
        </div>
      </form>
    </div>
  </div>
  <div id="right">
    <img id="character" src={{character}}>
  </div>

  </body>
</html>
