*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
body{
	margin:0px; 
	padding:0px; 
	font-family: 'Open Sans', sans-serif; 
	background-color: ##FAFAFA  ;
}
/*section{width:100%; max-width:1200px; margin:0px auto; display:table; position:relative;}*/
h1{margin:0px auto; display:table; font-size:26px; padding:40px 0px; color:#002e5b; text-align:center;}
h1 span{font-weight:500;}

header{width:100%; display:table; background-color: #001632;}
nav{width:auto; float:left;;margin-left: 100px;}
nav ul{display:table; float:right;}
nav ul li{float:left;}
nav ul li:last-child{padding-right:0px;}
nav ul li a{color:#ffffff; font-size:18px; padding: 25px 20px; display:inline-block; transition: all 0.5s ease 0s;}
nav ul li a:hover{background-color:#002e5b; color:#fde428; transition: all 0.5s ease 0s;}
nav ul li a:hover i{color:#fde428; transition: all 0.5s ease 0s;}
nav ul li a i{padding-right:10px; color:#002e5b; transition: all 0.5s ease 0s;}

.toggle-menu ul{display:table; width:25px;}
.toggle-menu ul li{width:100%; height:3px; background-color:#002e5b; margin-bottom:4px;}
.toggle-menu ul li:last-child{margin-bottom:0px;}

input[type=checkbox], label{display:none;}

@media only screen and (max-width: 1440px) {
section{max-width:95%;}
}

@media only screen and (max-width: 980px) {
header{padding:20px 0px;}
#logo{padding:0px;}
input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
input[type=checkbox]:fous{background:none;}
label {float:right; padding:8px 0px; display:inline-block; cursor:pointer; }
input[type=checkbox]:checked ~ nav {display:block;}

nav{display:none; position:absolute; right:0px; top:53px; background-color:#002e5b; padding:0px; z-index:99;}
nav ul{width:auto;}
nav ul li{float:none; padding:0px; width:100%; display:table;}
nav ul li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
nav ul li a i{color:#fde428; padding-right:13px;}
}

@media only screen and (max-width: 980px) {
.content{width:90%;}
}

@media only screen and (max-width: 568px) {
h1{padding:25px 0px;}
h1 span{display:block;}
}

@media only screen and (max-width: 480px) {
section {max-width: 90%;}
}

@media only screen and (max-width: 360px) {
h1{font-size:20px;}
label{padding:5px 0px;}
#logo{font-size: 20px;}
nav{top:47px;}
}

@media only screen and (max-width: 320px) {
h1 {padding: 20px 0px;}
}


body{
	background: url("/static/resources/about/background_larger.svg") center center no-repeat fixed;

}

p{

}

#logo-banner{
	padding: 50px 0px;
	height: 500px;
	background-color: rgba(55,111,182,.99);

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;

	/*margin-bottom: 50px;*/
}

 #logo-banner p{
 	color: white;
 	font-size: 50px;
  	font-family: 'M PLUS 1p', sans-serif;
 	float: left;
 	text-align: center;

 	width: 40%;
 	line-height: 2;

 	order: 0;
  	margin-left: 10%;
  	margin-right: 0;
 
 }

#section-2{
 	/*background-color: white;*/
 	background: rgba(255,255,255, .96);
 	height: 300px;	
 	width: 100%;
 }

 #section-2 p {
 	color: black;

 	font-size: 30px;
  	font-family: 'Noto Serif JP', serif;
 	float: left;
 	text-align: center;
 	width: 80%;

	  position: relative;
	  left: 50%;
	  top: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
 }


#logo{
	order: 1;
  	width: 25%; 
  	display: block;
  	margin-right: auto;
  	margin-left: auto;
 }



