<!DOCTYPE html>
<html>
  <head>
    <title>Homepage</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% load static %}
    <script src="{% static 'js/index.js' %}"></script>

  </head>

  <body>
    <h1><ruby><rb>活</rb><rt>かつ</rt></ruby>へようこそ！</h1>
  </body>

  <form action='play/' method="post">

    <h2>1. Select Verb Forms to Use</h2>
    <div id="verb-forms" class="checkbox-group" required>
      <h3>Forms</h3>
      <input class="verb-form" type="checkbox" name="regular" value="True">
      <label for="Regular">Regular</label>
      <input class="verb-form" type="checkbox" name="potential" value="True">
      <label for="Regular">Potential</label>
      <input class="verb-form" type="checkbox" name="passive" value="True">
      <label for="Regular">Passive</label><br>
      <input class="verb-form" type="checkbox" name="causative" value="True">
      <label for="Regular">Causative</label>
      <input class="verb-form" type="checkbox" name="causative-passive" value="True">
      <label for="Regular">Causative-Passive</label>
    </div>

    <div id="verb-types">
      <h3>Types</h3>
      <input type="checkbox" class='verb-type' name="ichidan" value="True">
      <label for="Ichidan">Ru-Verbs</label>
      <input type="checkbox" class='verb-type' name="godan" value="True">
      <label for="Godan">U-Verbs</label>
      <br>
      <input type="checkbox" class='verb-type' name="suru" value="True">
      <label for="Suru">~Suru</label>
      <input type="checkbox" class='verb-type' name="kuru" value="True">
      <label for="Kuru">~Kuru</label>
    </div>

    <h2>2. Select Conjugations to Practice</h2>
    <div id="verb-formalities">
      <h3>Formality</h3>
      <input type="checkbox" class='verb-formality' name="short" value="True">
      <label for="Short">Plain/Short</label>
      <input type="checkbox" class='verb-formailty' name="polite" value="True"
      <label for="Polte">Polite/~Masu</label>
    </div>

    <div id="verb-polarities">
      <h3>Polarity</h3>
      <input type="checkbox" class='verb-polarity' name="non-negative" value="True">
      <label for="Short">Non-negative</label>
      <input type="checkbox" class='verb-polairty' ame="negative" value="True">
      <label for="Short">Negative</label>
    </div>

    <div id="verb-tenses">
      <h3>Tense</h3>
      <input type="checkbox" class='verb-tense' name="non-past" value="True">
      <label for="Non-past">Non-past</label>
      <input type="checkbox" class='verb-tense' name="past" value="True">
      <label for="Past">Past</label>
    </div>

    <h2>3. Choose which conjugation forms to practice</h2>
    <div id="conjugations">
      <input type="checkbox" class='conjugation' name="standard" value="True" checked>
      <label for="te">Standard/Regular</label>
      <br><h3>Other forms:</h3>
      <input type="checkbox" class='conjugation' name="te" value="True">
      <label for="te">~Te</label>
      <input type="checkbox" class='conjugation' name="tara" value="True">
      <label for="tara">~Tara</label>
      <input type="checkbox" class='conjugation' name='ba' value='True'>
      <label for="ba">~Ba</label>
    </div>

    <div class="button">
      <br><br>
      <button type="submit" id="start-btn">Start!</button>
    </div>
  </form>
</html>
