<!DOCTYPE html>
{% load static %}

<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <head>
    <title>Play Page</title>
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p|Noto+Serif+JP&amp;subset=japanese" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/play.css' %}">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p&amp;subset=japanese" rel="stylesheet">
  </head>

  <body>
    <div class="banner">
    </div>
    <div id="content-box">
    <div id="left">
      <img id="logo" src="../static/resources/logo.png">
  </div>
    <div id='main'>
      <div id='verb-box'>
      {% autoescape off %}
      <h2 id="verb"><ruby>{{verb}}</ruby></h2>
      {% endautoescape %}
      <h4 id="translation"><i>{{translation}}</i></h4>
      <hr>
    </div>
      <div id='prompt'>
        Use the <b>{{construction}}</b> {{polarity}} {{tense}}<b> {{formality}} {{form}}</b>
 conjugation.
        <br>
        {% autoescape off %}
        {% endautoescape %}
        <br><br>
      </div>

      <div id="answer">
      <form id="user-attempt" method="post" action='' autocomplete='off'>
        <div class="field">
          <input type="text" id="attempt" name="attempt" autofocus required>
          <input class='btn' type="submit" value="チェックする!" id="submit-attempt">
        </div>
      </form>
    </div>
  </div>
  <div id="right">
    <img id="character" src={{character}}>
  </div>

  </body>
</html>
