<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <head>
    <title>Play Page</title>
  </head>


  <body>
    <center>
      {% autoescape off %}
      <h2><ruby>{{verb}}</ruby></h2>
      {% endautoescape %}
      <h4><i>{{translation}}</i></h4>
      <hr>

      <div id='prompt'>
        Try conjugating this into the <b>{{construction}}</b> form's {{polarity}}{{tense}}<b>{{form}}</b> conjugation.
        <br>
        {% autoescape off %}
        {{formality}}
        {% endautoescape %}
        <br><br>
      </div>

      <form id="user-attempt" method="post" action='' autocomplete='off'>
        <div class="field">
          <input type="text" id="attempt" name="attempt" required>
          <input type="submit" value="Check!" id="submit-attempt">
        </div>
      </form>
    </center>

  </body>
</html>
