<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <head>
    <title>Play Page</title>
  </head>


  <body>
    <h1>This page is where the game will be played</h1>

    <form id="user-attempt" method="post" action='' autocomplete='off'>
      <div class="field">
        <input type="text" id="attempt" name="attempt" required>
        <input type="submit" value="Check!" id="submit-attempt">
      </div>
    </form>

  </body>
</html>
